form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    margin: 10px 0;
}

.sub-title{
  font-size: 2em;

}

#text_polarity {
  font-size: 1.3em;
  font-style: italic;
  text-transform: capitalize;
}

#text_polarity_confidence {
  font-size: 1.3em;
  font-style: italic;
  text-transform: capitalize;
}

#text_subjectivity {
  font-size: 1.3em;
  font-style: italic;
  text-transform: capitalize;
}

#text_subjectivity_confidence {
  font-size: 1.3em;
  font-style: italic;
  text-transform: capitalize;
}
